<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Real Estate</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" >
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,700" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container-fluid hero d-flex flex-column">
        <div class="container header">
            <div class="row">
                <div class="col-12 mt-3">
                    <nav class="navbar navbar-expand-lg">
                    <a class="navbar-brand" href="#"><img class="logo" src="/images/logo.svg" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                
                    <div class="collapse navbar-collapse"  id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="#">How It Works</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Why Choose Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link sell-button" href="#">SELL NOW</a>
                            </li>
                        </ul>
                    </div>
                    </nav>
                </div>
            </div>
        </div>

        <div class="container quiz mt-auto mb-5">
            <div class="row">
                <div id="app" class="col-sm-6 offset-sm-3 text-center">
                    <h3 class="question pb-4">
                        {{currentStep.question}}
                    </h3>

                    <div class="row" v-if="currentStep.type=='multi'">
                        <div class="app-button col-5 mx-auto mt-4 pt-4"
                            v-for="option in currentStep.options" 
                            @click="selectAnswer(option.answerFor, option.value)">
                            <img class="app-icon mb-3" v-if="option.icon" v-bind:src="'/images/'+option.icon" alt="">
                            <p>{{option.label}}</p>
                        </div>
                    </div>

                    <form action="" @submit="checkForm" class="row form-group" v-if="currentStep.type=='form'">
                        <input class="form-control mt-3"
                        v-bind:type="field.type || 'text'"
                        v-for="field in currentStep.fields"
                        v-model="answers[field.answerFor]" 
                        v-bind:placeholder="field.placeholder"
                        v-bind:required="field.required"
                        v-bind:pattern="field.pattern">
                        <input value="Next" type="submit" class="btn next-button mt-3">
                    </form>
                </div>
            </div>          
        </div>
    </div>

    <div class="container-fluid stats">
        <div class="container">
            <div class="row text-center pt-4">
                <div class="col-sm mb-3">
                    <h2>1235</h2>
                    <p>Homes Sold</p>
                </div>
                <div class="col-sm mb-3">
                    <h2>955</h2>
                    <p>Happy Sellers</p>
                </div>
                <div class="col-sm mb-3">
                    <h2>$575m</h2>
                    <p>Paid Instantly</p>
                </div>
                <div class="col-sm mb-3">
                    <h2>72Hous</h2>
                    <p>Avg. Closing Time</p>
                </div>
            </div>            
        </div>
    </div>

    <div class="container-fluid city pb-5">
        <div class="container py-5">
            <div class="row mt-5 text-center">
                <h2 class="mx-auto">I Need To Sell My House Fast In Buffalo!</h2>
                <p class="mt-2">We Buy Houses Anywhere In Buffalo And Other Parts of New York, And At Any Price. Check Out How
                    Our Process Works. We’re
                    Ready To Give You A Fair Offer For Your House.</p>
            </div>
            <div class="row">
                <div class="col-sm text-center mr-lg-5 mt-5">
                    <span class="text-center step">1</span>
                    <div class="box text-center">
                        <img class="icon" src="images/icon_1.svg" alt="">
                        <p class="mt-4">Tell us about your house in the form above.</p>
                    </div>
                </div>
                <div class="col-sm text-center mt-5">
                    <span class="text-center step">2</span>
                    <div class="box text-center">
                        <img class="icon" src="images/icon_2.svg" alt="">
                        <p class="mt-4">Tell us about your house in the form above.</p>
                    </div>
                </div>
                <div class="col-sm text-center ml-lg-5 mt-5">
                    <span class="text-center step">3</span>
                    <div class="box text-center">
                        <img class="icon" src="images/icon_3.svg" alt="">
                        <p class="mt-4">Tell us about your house in the form above.</p>
                    </div>
                </div>
            </div>

            <div class="row my-5 pt-4">
                <div class="col-sm-8 offset-sm-2 p-0">
                    <p class="text-center">
                        If you want to sell your Buffalo house… we’re ready to give you a fair all-cash offer.
                    </p>
                    <p class="text-center">
                        Stop the frustration of your unwanted property. Let us buy your New York house now, regardless of
                        condition.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <button class="btn offer-button mx-auto">Get Your Offer Today</button>
        </div>
    </div>

    <div class="container-fluid py-5 couple">
        <div class="container">
            <div class="my-5 row text-center">
                <h2>Basically, if you have a property and need to sell it… we’d like to make you a fair cash offer and close on it when
                    you’re ready to sell.
                </h2>
            </div>
            <div class="row my-5 py-lg-5">
                <div class="col-sm-6">
                    <p>Avoiding foreclosure? Facing divorce? Moving? Upside down in your mortgage? Liens? It doesn’t matter whether you live
                    in it, you’re renting it out, it’s vacant, or not even habitable. We help owners who have inherited an unwanted
                    property, own a vacant house, are behind on payments, owe liens, downsized and can’t sell… even if the house needs
                    repairs that you can’t pay for… and yes, even if the house is fire damaged or has bad rental tenants.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container py-lg-5">
        <div class="row">
            <div class="col-sm-4 mt-5">
                <div class="testimonial p-5">
                    <div class="row">
                        <div class="col-4"><img class="face" src="/images/face_1.png" alt=""></div>
                        <div class="col-7 offset-1">
                            <h4 class="name">Jon Doe</h4>
                            <p class="amount mb-0">Sold for $396k</p>
                            <img class="rating" src="/images//stars.svg" alt="">
                        </div>
                    </div>
                    <div class="row mt-4">
                        <p class="col-12">“Lorem ipsum dolor sit amet sed, consectetuer adipiscing elit,diam nonummy nibh euismod tincidunt
                            erat nonummy.”</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 mt-5">
                <div class="testimonial p-5">
                    <div class="row">
                        <div class="col-4"><img class="face" src="/images/face_2.png" alt=""></div>
                        <div class="col-7 offset-1">
                            <h4 class="name">Jon Doe</h4>
                            <p class="amount mb-0">Sold for $396k</p>
                            <img class="rating" src="/images//stars.svg" alt="">
                        </div>
                    </div>
                    <div class="row mt-4">
                        <p class="col-12">“Lorem ipsum dolor sit amet sed, consectetuer adipiscing elit,diam nonummy nibh euismod
                            tincidunt
                            erat nonummy.”</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 mt-5">
                <div class="testimonial p-5">
                    <div class="row">
                        <div class="col-4"><img class="face" src="/images/face_3.png" alt=""></div>
                        <div class="col-7 offset-1">
                            <h4 class="name">Jon Doe</h4>
                            <p class="amount mb-0">Sold for $396k</p>
                            <img class="rating" src="/images//stars.svg" alt="">
                        </div>
                    </div>
                    <div class="row mt-4">
                        <p class="col-12">“Lorem ipsum dolor sit amet sed, consectetuer adipiscing elit,diam nonummy nibh euismod
                            tincidunt
                            erat nonummy.”</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="container py-5">
        <div class="px-2 row text-center py-lg-5 pt-5">
            <h2 class="mx-auto mb-4">Do You Need To Sell Your House In Buffalo, New York?</h2>
            <p>Contact us today! Even if an agent can’t sell your house, we can help.(Sometimes selling a house through a real estate
            agent is not for everyone.)
            </p>
        </div>
        <div class="row text-center">
            <div class="col-sm-3 mt-5">
                <img src="/images/icon_4.svg" alt="" class="icon">
                <p class="mt-4">you don’t need to clean up, decorate and pay for expensive repair work</p>
            </div>
            <div class="col-sm-3 mt-5">
                <img src="/images/icon_5.svg" alt="" class="icon">
                <p class="mt-4">don’t waste time finding an agent who you trust to sell the house quickly</p>
            </div>
            <div class="col-sm-3 mt-5">
                <img src="/images/icon_6.svg" alt="" class="icon">
                <p class="mt-4">you won’t need to sign a contract that binds you to an agent for a certain term
                </p>
            </div>
            <div class="col-sm-3 mt-5">
                <img src="/images/icon_7.svg" alt="" class="icon">
                <p class="mt-4">Or deal with the paperwork and the waiting and wondering (and hoping)
                </p>
            </div>
        </div>
        <div class="row py-5">
            <div class="col-sm-9">
                <h2 class="mt-2 text-center ">We can buy your New York house, Right Now, As it is.</h2>
            </div>
            <div class="col-sm-3">
                <button class="btn today-button">Sell Today</button>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>We’ll know very quickly if we can help you, and unlike selling through an agent, you don’t have to wait to see if
                    the
                    buyer can get financing… we’re ready to buy right now!</p>
                <p>All that hassle can add stress, months to the process, and in the end after paying the agent’s expensive fees, you
                    may
                    or may not be ahead of the game.</p>
            </div>           
        </div>
    </div>
        <script src="app.js"></script>
</body>
</html>