body {
    background-color: #f2f2f7;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 14pt;
    color: #6d6e70;
}

h2 {
    font-size: 22pt;
    font-weight: bold;
    color: #0c4569;
}

.hero {
    min-height: 90vh;
    background: url('/images/header.png');
    background-size: cover;
    background-position: center center;
}

.nav-link {
    font-weight: bold;
    color: black !important;
    padding: 10px 30px!important;
}

.sell-button {
    color: #ffffff !important;
    background-color: #0c4569;
    font-weight: 700;
    border-radius: 5px;
    margin-left: 30px;
}

.logo {
    width: 200px;
}

.stats {
    background-color: #0c4569;
    color: #ffffff;
}

.stats h2 {
    color: #ffffff;
}

.step {
    color: #ffffff;
    background-color: #0c4569;
    height: 48px;
    width: 48px;
    padding-top: 8px;
    display: inline-block;
    border-radius: 50px;
    font-weight: bold;
    font-size: 18pt;
}

.box {
    margin-top: -25px;
    padding: 30px;
    padding-top: 70px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 12px 50px -20px rgba(0,0,0,0.2);
}

.icon {
    height: 138px;
}

.city {
    background-image: url("/images/buffalo.svg");
    background-repeat: no-repeat;
    background-position: bottom;
}

.offer-button {
    margin-top: -25px;
    background-color: #0c4569;
    font-weight: bold;
    font-size: 16pt;
    color: #ffffff;
    padding: 10px 70px;
    border-radius: 50px;
}

.couple {
    background-image: url('/images/couple-01.jpg');
    background-size: cover;
    background-position: bottom;
}


.face {
    width: 96px;
}

h4 {
    font-weight: bold;
    color: #0c4569;
}

.rating {
    width: 120px;
}

.testimonial {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 12px 50px -20px rgba(0,0,0,0.2);
}

.today-button {
    background-color: #0c4569;
    font-weight: bold;
    font-size: 16pt;
    color: #ffffff;
    padding: 10px 30px;
    width: 100%;
    border-radius: 50px;
}

.question {
    color: #ffffff;
    font-weight: bold;
}

.app-button {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 12px 50px -20px rgba(0,0,0,0.9);
}

.app-icon {
    height: 96px;
}

.next-button {
    font-weight: bold;
    background-color: #0c4569;
    color: #ffffff;
    width: 100%;
}



@media screen and (max-width: 768px) {
    body {
        font-size: 13pt;
    }

    h2 {
        font-size: 18pt;
    }

    .couple {
        padding-bottom: 20vh!important;
        background-position: 80% 100%;
        background-repeat: no-repeat;
        background-size: auto 60vh;
    }
}